<section class="item-details">
  <navbar />
  <v-container fluid v-if="product" class="mt-4">
    <v-row>
      <v-col class="offset-md-1 col-md-6">
        <v-img
          :src="product.images[2]"
          max-height="800"
          max-width="700"
          aspect-ratio="1"
          class="grey lighten-2"
          loading="lazy"
        >
        </v-img>
      </v-col>
      <v-col class="col-md-4">
        <p class="text-h4">{{product.title}}</p>
        <p class="text-right">
          <v-chip class="ma-2" x-large> $ {{product.price}} </v-chip>
        </p>
        <v-btn color="primary" block> Agregar al carrito </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-md-1 col-md-10">
        <div class="text--primary">{{product.description}}</div>
      </v-col>
    </v-row>
  </v-container>
</section>
